<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcmouTfQRgxCmLTxvO5HWaFbIrXTzAJvs</string>
	<key>GCM_SENDER_ID</key>
	<string>355573449121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week5AuthDashboard</string>
	<key>PROJECT_ID</key>
	<string>week5-auth-dashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>week5-auth-dashboard.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355573449121:ios:9ab4eecd48546cc4324be0</string>
</dict>
</plist>